.main {
  text-align: left;
  margin-left: 5%;
  margin-right: 5%;
  color: darkslategray;
}

/* Buttons CSS */

.alert-button {
  background-color: #ff0000;
  color: #fff;
  padding: 10px 20px;
  margin: 1%;
  border: solid;
  border-color: #ff0000;
  border-radius: 5px;
  cursor: pointer; 
}
.alert-button:hover {
  transform: scale(0.8);
  transition-duration: 0.3s;
}

.hover-button {
  background-color: #0040ff;
  color: #fff;
  padding: 10px 20px;
  border: solid;
  border-color: #0040ff;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s, color 0.2s;
}
.hover-button:hover span {
  display:none
}
.hover-button:hover:before {
  content: "Nothing here :)";
}
.hover-button:hover {
  background-color: #66baff; 
  border-color: #66baff;
  color: #000; 
}

.change-text-button {
  color: rgb(1, 173, 1);
  padding: 10px 20px;
  margin: 1%;
  border: solid;
  border-color: rgb(1, 173, 1);
  border-radius: 5px;
  cursor: pointer;
}

.tooltip-button {
  background-color: #aa00ff;
  color: #fff;
  padding: 10px 20px;
  border: solid;
  border-color: #aa00ff;
  border-radius: 5px;
  cursor: pointer; 
}

/* Input CSS */
.input-container {
  display:flex;
  align-items: center;
}

.input-label {
  flex: 0 0 15%;
}

.input-field {
  margin-right: 5%;
  margin-left: 1%;
}

.input-p {
  flex: 0 0 50%;
}